.table-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  border: 5px solid rgb(41, 223, 0);
  width: fit-content;
}

.alphabet-col-container {
  display: flex;
  height: 40px;

  & p {
    /* background: rgb(211, 211, 37); */
    width: 165px;
    height: 36px;
    border: 0.2px solid red;
    margin: 0;
  }
}

.sample-div {
  display: flex;
}

.row {
  display: flex;
}

.cell-container {
  overflow: auto;
  width: 100%;
  height: fit-content;
}

.cell {
  width: 165px;
  height: 36px;
  border: 1px solid blue;
  display: inline-block;
}

.number-row-container {
  background: aqua;

  & p {
    width: 165px;
    height: 36px;
    border: 0.2px solid red;
    margin: 0;
  }
}

#cell-display {
  border: 2px solid blue;
  width: 70px;
  padding: 7px 15px;
}

.tools {
  background-color: red;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.clicked {
  background-color: red;
}
